<!doctype html>
<head>
  <style rel='text/stylesheet'>
    div[v-cloak] {
      visibility: hidden;
    }
    .el-row {
      margin-bottom: 20px;
    }
  </style>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.11/theme-chalk/index.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.21/vue.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.4.11/index.js"></script>
</head>
<body>
  <div id="app" v-cloak>
    <h1>Unicode String Decoder</h1>
    <el-row>
      <p>'\xe6\x97\xa5\xe6\x9c\xac\xe8\xaa\x9e' のような文字をデコードする簡単なUtility Tool</p>
    </el-row>
    <el-row>
      <el-col :span="18" :offset="2">
        <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4}" placeholder="Put unicode text here" v-model="text"></el-input>
      </el-col>
    </el-row>
    <el-row v-if="text.length > 0">
      <el-col :span="18" :offset="2">
        <el-input type="textarea" :autosize="{minRows: 2, maxRows: 4}" v-model="decodedText"></el-input>
      </el-col>
      <el-col :span="2">
        <span v-if="isError" style="color: red"><i class="el-icon-error"></i></span>
        <span v-else style="color: green"><i class="el-icon-success"></i></span>
      </el-col>
    </el-row>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        text: '',
        decodedText: '',
        isError: false,
      },
      watch: {
        text(value) {
          try {
            this.decodedText = decodeURIComponent(this.text.replace(/\\x/g, '%'));
            this.isError = false;
          } catch (e) {
            console.error(e);
            this.isError = true;
          }
        },
      },
    });
  </script>
</body>
